body {
  background-color: aliceblue;
}

.box {
  background-color: #fff;
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
}

.todo {
  font-size: 30px !important;
  font-weight: bold;
}

.js-list {
  max-height: 350px;
  overflow-y: auto;
}

.js-eye {
  cursor: pointer;
}

i {
  cursor: pointer;
}

.loginText {
  top: 20px;
  font-weight: bold;
}

.form-label {
  font-weight: 500 !important;
}

.forgot {
  font-weight: 500;
  transition: all 0.4s ease;
}

.forgot:hover {
  color: green;
  cursor: pointer;
}

.icon-box:hover {
  cursor: pointer;
}

.icon-box:hover > h3 > a {
  color: yellow;
}

.fixed-top {
  z-index: 9999;
  background-color: black;
}

@media only screen and (max-width: 576px) {
  .loginBox {
    top: 40px;
    margin-bottom: 70px;
  }

  .registerBox {
    padding: 20px !important;
    top: -5px;
  }

  #hero {
    top: 40px;
    height: 100%;
  }

  .homePage {
    margin-bottom: 295px;
  }
}
